body{
    padding : 13px; 
}
.main-div{
    margin-left:30%;
    width: 500px;
    border: 2px dashed black;
    margin-top:10%;
    padding: 40px;
}
.top-container{
    border-bottom: 3px solid black;
    margin-bottom: 40px;
    height: 50px;
}
.bottom-container{ 
    border-top: 3px solid black;
}
.left-bar{
    margin-left: 5px;
}
.link-style{
    color: black;
    text-decoration: underline;
    text-align: center;
}
.error-message{
    color:red;
    font-size: 12px;
}
.form-container{
    border: 1px solid rgba(0, 0, 0, 0.307);
    padding: 30px;
    width:1100px;
    margin-left: 20px;
}
.show-pointer{
    cursor: pointer;
    text-decoration: underline;
    color:black;
}
.show-only-pointer{
    cursor: pointer; 
    text-decoration: none;
    color:black;
}
.analysis-circle{
    font-size: 12px;
    background: rgba(202, 9, 9, 0.76);
    border-radius: 50px;
    padding: 5px 3px 6px 10px;
    text-align: center;
    color: aliceblue;
}
.custom-image-size{
    height: 70px;
    width: 70px;
}
.chat-with-admin{
    border: 1px solid black;
    height:500px;
    margin-bottom: 20px;
    overflow: auto;
}
.chat-with-admin-ul{ 
    width: 95%; 
}
.chat-with-admin-client-li{
    border-bottom: 1px dashed black;
    border-right: 5px solid rgb(27, 19, 19);
    height:40px;
    padding-top: 5px; 
    vertical-align: middle;
    background-color:#6c757d47;
    margin-top: 8px;
    text-align: end;
    padding-right: 10px;
}
.chat-with-admin-li{
    border-bottom: 1px dashed black;
    border-left: 5px solid rgb(228, 7, 25);
    height:40px;
    padding-top: 5px; 
    vertical-align: middle;
    background-color:#6c757d79;
    margin-top: 8px;
}